/*
Theme Name: Spriklr Child
Description: Child theme for Sprinklr, Inc
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, fieldset { background:transparent; border:0; font-size:100%; margin:0; outline:0; padding:0; list-style: none; }
ol, ul { list-style:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
img { border:0px; vertical-align:middle; height:auto;max-width:100%; }
* { margin:0; padding:0; }
*:focus { outline:none; }

@font-face {
    font-family: 'museo_sans_rounded100';
    src: url('assets/fonts/MuseoSansRounded-100-webfont.eot');
    src: url('assets/fonts/MuseoSansRounded-100-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MuseoSansRounded-100-webfont.woff2') format('woff2'),
        url('assets/fonts/MuseoSansRounded-100-webfont.woff') format('woff'),
        url('assets/fonts/MuseoSansRounded-100-webfont.ttf') format('truetype'),
        url('assets/fonts/MuseoSansRounded-100-webfont.svg#museo_sans_rounded100') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded300';
    src: url('assets/fonts/MuseoSansRounded-300-webfont.eot');
    src: url('assets/fonts/MuseoSansRounded-300-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/MuseoSansRounded-300-webfont.woff2') format('woff2'),
        url('assets/fonts/MuseoSansRounded-300-webfont.woff') format('woff'),
        url('assets/fonts/MuseoSansRounded-300-webfont.ttf') format('truetype'),
        url('assets/fonts/MuseoSansRounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('assets/fonts/MuseoSansRounded-500-webfont.eot');
    src: url('assets/fonts/MuseoSansRounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/MuseoSansRounded-500-webfont.woff2') format('woff2'),
         url('assets/fonts/MuseoSansRounded-500-webfont.woff') format('woff'),
         url('assets/fonts/MuseoSansRounded-500-webfont.ttf') format('truetype'),
         url('assets/fonts/MuseoSansRounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin:0 auto; padding:0; webkit-font-smoothing:antialiased; webkit-text-size-adjust:100%; font-family: 'Open Sans', sans-serif; font-size: 24px; line-height: 34px; color: #626262; font-weight: 400; }
a, a:visited, * input { text-decoration:none; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; transition:all .5s ease; }
a img { border:none; }
label { display: block; margin-bottom: 5px;}
label, input, button, select, textarea { font-size: 14px; font-weight: normal; line-height: 20px;}
h1, .h1 { font-size: 56px; line-height: 65px; }
h2, .h2 { font-family: 'museo_sans_rounded500'; font-size: 33px; line-height:45px; }
h3, .h3 {font-family: 'museo_sans_rounded500'; font-size: 24px; line-height:34px;}
small { font-size:14px; line-height:19px;}
.btn { font-family: 'museo_sans_rounded500'; font-weight: 500; font-size: 20px; text-transform: uppercase; line-height: 24px;}
#main { padding-bottom: 0 !important; padding-top: 0 !important;}

/** Header **/
/*
.fusion-header-wrapper{border-bottom: 1px solid #ccc;}
.fusion-is-sticky ul li a{ color:rgb(51, 51, 51); }
*/
/* Expreience Clound Section */
#experience-cloud { display: block; padding: 80px 0;}
#main .experience-cloud-content h2 { font-family: 'museo_sans_rounded300'; color: #2e9cd2 !important; margin: 20px 0 30px;}
#main .experience-cloud-content p { font-size: 20px; font-weight: 300 !important; line-height: 33px; color: #626262 !important;}
#main .experience-cloud-content a.orange-hover { border-color: #2e9cd2; color: #2e9cd2; margin-top: 10px; padding-left: 70px; padding-right: 70px; font-size: 18px; -webkit-transition:all .5s ease; -moz-transition:all .5sease; -ms-transition:all .5s ease; transition:all .5s ease; }
a.orange-hover:hover { background:#fbaf17; color: #fff !important; border-color: #fbaf17;}

/* Benchmark Section */
#benchmark { background:url(images/benchmark.jpg) center top no-repeat; background-size: cover;}
#main .benchmark-content { color: #fff;}
.blue-overlay { background: rgba(46, 156, 210, 0.6); display: block; position: relative; padding: 60px 0;}
#main .benchmark-content h3 { font-size: 30px !important; vertical-align: middle; margin: 30px 0; color:#fff !important;}
#main .benchmark-content h3 i { border: 1px solid #fff; padding: 15px; color: #fff; border-radius:5px; font-weight: 300; font-size: 30px; margin-right: 15px; }
#main .benchmark-content a.btn { font-size: 18px; color: #fff; margin: 10px 0 0; padding-left: 70px; padding-right: 70px;}
#main .benchmark-content a.btn:hover { color: #333;}

/* Twitter Section */
.twitter-feedback { display: block; margin: 60px 0;}
.twitter-feedback strong { font-weight: 400; font-size: 24px; line-height: 30px;}
.brands-logos { margin: 60px 0;}
.twitter-feedback ul li { display: inline-block; margin: 0 0 30px;}
.demo-content img { margin-bottom: 20px;}
.demo-content h4, .post-content .demo-content h4 { font-family: 'museo_sans_rounded100'; font-weight: 100; font-size: 24px; line-height: 26px; margin-bottom: 10px; margin-top: 0px; color: #808080; }
.demo-form { display: block; width: 50%; margin: 60px auto; clear: both;}
.fusion-layout-column h4 { padding-top: 23px;}
.fusion-layout-column .demo-form { width: 90%; margin-top: 30px; margin-bottom: 10px;}
.fusion-layout-column .demo-form label { text-align: left;}
.fusion-layout-column .demo-form .hs-form .hs-input { width: 100%;}
.demo-content input[type=submit] { font-family: 'museo_sans_rounded100'; font-size: 20px; padding: 10px 50px;}

/*experience cloud page*/
.cloud-page { background: url(images/cloud-page-bg.jpg) repeat-x center top; padding-bottom: 200px;}
.header-content { display: block; float: none; clear: both; margin: 0 auto; text-align: center; color: #fff;}
.header-content p { font-size: 20px; font-weight: 300; line-height: 26px; margin: 40px 0;}
.header-content strong { padding: 20px 70px 0; font-size: 26px; font-weight: 400;}
#social-experience-box { display: block; padding: 80px 0;}
#main .social-expeirence h2 { font-family: 'museo_sans_rounded300'; font-weight: 300; color: #2e9cd2; margin-bottom: 30px;}
.social-expeirence strong { font-size: 26px; font-weight: 300; line-height: 35px;}
ul.social-experience-list { display: block; margin: 40px 0 30px; border: none;}
ul.social-experience-list li { display: inline-block; vertical-align: top; margin: 0 5px 10px; text-align: center; float: none; width: 4.5em;}
ul.social-experience-list li a { display: block; color: #b8b8b8; font-size: 12px; font-weight: 300; padding: 0; margin: 0; border: none; border-radius: 0; line-height: 16px;}
ul.social-experience-list li a span { display: table-cell; background: #2789c7; vertical-align: middle; height: 80px; width: 80px; margin-bottom: 10px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; transition:all .5s ease;}
ul.social-experience-list li a small { display: block; margin-top: 5px;}
.nav-tabs.social-experience-list li a:hover span, .nav-tabs.social-experience-list li.active a span { background: #fbaf17}
ul.social-experience-list li a span img { width: 50px;}
.nav-tabs.social-experience-list > li.active > a, .nav-tabs.social-experience-list > li.active > a:focus, .nav-tabs.social-experience-list > li.active > a:hover, .nav-tabs.social-experience-list > li > a:hover { border:none; background-color: transparent; cursor: default;}
.tab-content { margin-bottom: 60px;}
.tab-content ul { display: block; margin: 30px 0 20px;}
.tab-content ul li { margin-bottom: 10px;}
.social-expeirence a.btn {border-color: #2e9cd2; color: #2e9cd2; padding-left: 80px; padding-right: 80px; font-size: 18px; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; transition:all .5s ease; }
.social-expeirence a.btn:hover{ border-color: #fbaf17; background:#fbaf17; color: #fff;}
#premium-featured-box { display: block; background: #2789c7;}
.premium-features, .premium-features.text-center { display: block; margin: 0 auto; float: none; padding: 60px 0 20px 0; color: #fff; position: relative;}
span.yellow-plus { position: absolute; display: table; width: 60px; height: 60px; text-align: center; vertical-align: middle; background: #faad31; color: #fff; font-size: 20px; font-weight: 300; border: 3px solid #fff; top: -30px; left: 0; right: 0; border-radius: 50%; margin-left:auto; margin-right:auto;}
span.yellow-plus i { display: table-cell; vertical-align: middle; font-weight: 300; font-size: 22px;}
#main .premium-features h2 { font-family: 'museo_sans_rounded300'; font-size: 48px; margin-bottom: 30px; color: #fff;}
.premium-features strong { display: block; font-size: 26px; font-weight: 300; margin-bottom: 30px; line-height: 35px;}
.premium-features ul li { display: inline-block; margin: 0 5px 10px 5px; text-align: center; }
.premium-features ul li a { display: block; padding: 20px; color: #fff; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; transition:all .5s ease; width: 210px;}
.premium-features ul li a:hover { background: rgba(255, 255, 255, 0.3); border-radius: 5px; text-decoration: none;}
.premium-features ul li img { width: 60px;}
.premium-features ul li h4 { display: block; font-family: 'museo_sans_rounded300'; font-size: 20px; margin: 20px 0 10px; padding: 0;}
.premium-features ul li p { font-size: 14px; float: left; clear: both;}

/*experience core page*/
.core-page { background: url(images/experience-core-bg.jpg) no-repeat top center; -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover;background-size: cover;}
#experience-core-box { display: block; padding: 60px 0;}
.exp-core-btn { margin-top: 20px;}

/*###########Benchmarking Pages#############*/
.inner-banners { background: url(images/banner-sku.jpg) no-repeat top center; background-size: cover;  }
.post-content .benchmark-banner h1 { color: #ffffff; font-size: 46px; line-height: 57px; margin: 200px 0 25px; vertical-align: middle;}
.benchmark-banner h1 i { border: 1px solid #ffffff; border-radius: 5px; color: #ffffff; font-size: 48px; font-weight: 300; margin-right: 15px; padding: 15px;}
.benchmark-banner h1 img { float: left; width: 60px;margin-right: 15px;}
.banchmark-page-content { display: block; margin: 80px 0;}
.banchmark-page-content h2 { font-size: 40px; font-family: 'museo_sans_rounded300'; margin-bottom: 30px;}
.banchmark-page-content ul { margin: 30px 0;}
.banchmark-page-content ul li { font-family: 'museo_sans_rounded300'; color: #636363; font-size: 18px;}
.banchmark-page-content p { margin-bottom: 30px;}

.post-content .sidekick { background: #2789c7;}
.post-content .sidekick h1 { margin: 30px 0 30px;}

/**************Services Pages********************/
h1.inner-page-tittle {font-size: 30px; line-height: 34px; border-bottom: 1px solid #dddddd; color: #4dc3e1;letter-spacing:normal;margin-bottom: 30px; text-transform: uppercase; padding-bottom: 5px;}
.inner-page-content { display: block; clear: both; margin: 30px 0 60px;}
.inner-page-content p { display: block; margin-bottom: 30px; font-size: 16px; line-height: 24px; }
ul.bullet-listing { display: inline-block; }
ul.bullet-listing li { font-size: 16px; color: #64666a; list-style: disc inside none; display: list-item; }
ul.bullet-listing li a { display: inline; color: #4dc3e1;}
ul.bullet-listing li a:hover { color: #fbaf17; text-decoration: none;}
h2.inner-heading { font-size: 24px; line-height: 26px; color: #27292c; margin-bottom: 30px; }
/**************Services Pages End********************/

/**************About Pages********************/
.sprinklr-team { margin: 30px 0;}
.spr-team-first-child { margin: 60px 0 0px;} 
.fusion-li-item-content a { color: #08c;}
/**************About Pages********************/
/**************Whitepapers********************/

/* Hubspot Form */
.hs-button.highlight-button {
    margin: 30px auto 20px;
    float: none;
    display: block;
    font-size: 15px;
    padding: 15px 0;
    text-transform: uppercase;
    background: #4dc3e1;
}

.hs-button.highlight-button:hover,
.highlight-button-transparent-white:hover{
    color: #fff;
    background: #fbaf17;
    border-color: #fbaf17
}

body .hs-form fieldset {
    margin: 0 auto
}
.hs-form-required {
    color: #4fbcd2
}
body .hs-form .hs-input {
    border-radius: 3px;
    border: none;
    -moz-box-shadow: 0 1px 1px #ccc;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -o-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    font-size: 16px;
    color: #666;
    background: #fff;
}
select.hs-input {
    height: 40px
}
body .hs-form textarea.hs-input {
    height: 40px;
    padding: 10px 5px
}
.highlight-button-large,
.hs-form .highlight-button-large {
    font-size: 16px;
    padding: 5px 15px;
    line-height: 30px;
    text-transform: uppercase
}
legend.hs-field-desc { font-size: 14px; font-style: italic;}


/* Footer */
.site-footer {
    background:#323131;
    display:block;
    clear:both;
    padding:20px 0;
}

.footer-logo {
    float:left;
    margin-top:12px;
}

.footer-menu {
    display: block;
    margin: 6px 0 3px;
}

.disclaimers ul, .footer-menu ul {
    line-height: 15px;
}

.footer-menu ul li {
    display:inline-block;
    font-size:13px;
    margin:0 8px;
}

.footer-menu ul li a {
    display:inline-block;
    color:#fff;
    font-weight:300;
    text-transform:uppercase;
}

.disclaimers {
    display:inline-block;
}

.disclaimers ul li, .site-footer span {
    display:inline-block;
    color:#878787;
    font-size:11px;
    margin:0 3px;
}

.site-footer span {
    margin-left: 8px;
}

.disclaimers ul li a {
    display:block;
    color:#878787;
    text-transform:uppercase;
}

.footer-menu ul li a:hover,.disclaimers ul li a:hover {
    text-decoration:none;
    color:#61b630;
}

.footer-social-media {
    float:right;
    margin-top: 4px;
}

.footer-social-media ul li.border {
    border-right:1px solid #6F6F6F;
    height:40px;
    margin-top:4px;
    vertical-align:top;
}

.footer-social-media ul li {
    display:inline-block;
    margin:0 13px;
    line-height: 1.52857;
}

.glassdoor img {
    width: 18px;
}

.footer-social-media ul li a {
    display:block;
    font-size:30px;
    color:#fff;
}

.footer-social-media ul li a:hover {
    color:#61b630;
}

.fusion-page-title-bar.fusion-page-title-bar-breadcrumbs { 
    margin-bottom: 40px;
}

.fusion-carousel-title, .fusion-person .person-author-wrapper .person-title, .fusion-portfolio-post .fusion-portfolio-content h4, .fusion-rollover .fusion-rollover-content .fusion-rollover-title, .post-content h4 {
    line-height: 28px !important;
}

#comment-textarea {
    margin-bottom: 13px;
}

.single-navigation {
    line-height: 31px;
}

.imageframe-align-center {
    margin-bottom: 30px;
}

.fusion-read-more::after {
    position: static;
    vertical-align: top;
}

.fusion-main-menu .fusion-main-menu-icon::after {
    color: inherit !important;
}

.fusion-main-menu .fusion-main-menu-icon:hover, .fusion-main-menu .fusion-main-menu-icon:hover:after {
    text-decoration: none;
    color: #fbaf17 !important;
}

.fusion-main-menu .fusion-main-menu-icon:focus {
    text-decoration: none;
}

.fusion-main-menu{overflow:visible!important; }
.hs-form fieldset.form-columns-2 .hs-form-field { text-align: left;}
.hs-form fieldset.form-columns-1 .input { text-align: left;}
.hs-form.stacked .field { text-align: left;}
.inner-banner, .fusion-imageframe.inner-banner { display: block;}
.inner-banner img { width: 100%;}
.fusion-layout-column { margin-bottom: 0 !important;}

@media (max-width: 1024px){
    .footer-menu ul li { font-size:11px; margin:0 3px; }
    .disclaimers ul li { font-size:10px; }
}
@media (max-width: 767px) {
.fusion-mobile-menu-icons { top:16px;}
#main .experience-cloud-content h2 { font-size: 33px !important;}
#main .experience-cloud-content p { font-size: 16px;}
#main #benchmark .benchmark-content h3 { font-size: 24px;}
.twitter-feedback strong { font-size: 18px;}
#demo-section-box { margin: 40px 0;}
.demo-form { width: 100%;}
.demo-content input[type="submit"] { padding: 10px 50px;}
.header-content p, .social-expeirence strong, .premium-features strong, .premium-features ul li h4 { font-size: 16px;}
.header-content strong { font-size: 20px; padding: 20px 10px 0;}
#main .social-expeirence h2, #main .premium-features h2 { font-size: 34px !important; line-height: 38px;}
.premium-features ul li a { width: 130px; padding: 10px;}
.premium-features ul li p { font-size: 12px;}
ul.social-experience-list li { width: 5em;}
.benchmark-content { width: 100%; padding: 0;}
#benchmark .benchmark-banner h1 { font-size: 30px; margin: 25px 0;}
#benchmark .benchmark-banner h1 i { font-size: 30px;}
#benchmark .banchmark-page-content h2 { font-size: 30px; line-height: 36px;}
.footer-menu { margin-bottom: 0;}
footer.site-footer .container { width: 100%; padding: 0 10px;}
footer.site-footer .col-sm-5 { width: 80%; padding-right: 0; padding-left: 5px; float: none; display: inline-block;}
.disclaimers ul li, .site-footer span { font-size:9px; margin:0 2px; }
.footer-social-media { float:none; display:block; text-align:center; margin-top:15px; clear: both; }
.footer-social-media ul li a { font-size:18px; }
.footer-social-media ul li.border { height:28px; }
}

