/*
Theme Name: Sprinklr
Theme URI: http://jakegarver.com
Author: Jake Garver
Author URI: http://www.jakegarver.net/
Description: A private bootstrap-based theme developed for Sprinklr by Jake Garver
Version: 2.0
License: RESTRICTED. Not for Public Use.
*/



/* BODY AND LAYOUT */
body 			{background-color:#ffffff;}
body, p, li, td {color:#565656; font-family:"Open Sans"; font-size:15px;}

.row { padding-left:0; padding-right:0; margin:0 auto;}
.container {padding:0; width:1170px;}
.container {width:100%; min-width:1170px;}




/* TEXT */
h1,h2,h3,h4,h5,h6	{color:#565656; font-weight:300; line-height:1.35;}

h1	{font-size:32px;}
h2	{font-size:28px; font-weight:400; margin-bottom:25px;}
h3	{font-size:24px; font-weight:400; margin-bottom:10px; margin-top:40px;}
h4	{padding-top:15px; font-size:24px;}
h5	{font-size:21px; margin:15px 0;}
h6	{color:#ffffff; font-size:14px; padding:10px;}

p		{font-size:18px;}

a:link		{color:#1e88c9;}
a:visited	{color:#1e88c9;}
a:hover		{color:#1e88c9; text-decoration:none;}
a.active	{color:#1e88c9;}



/* NAVBAR */
#Navbar .row, #Navbar 				{margin:0; background:#eaeaea; margin-bottom:0; font-size:13px; position:relative; z-index:9999; height:105px;} 

.navbar				{background:#eaeaea; margin-bottom:0; font-size:13px; height:105px;}
.navbar-collapse 	{float:left;}
.navbar-nav			{padding:0;}
.navbar li 			{padding:30px 0; margin-right:10px;}
.navbar li	a		{color:#4a4a4a; font-family:"Open Sans"; font-weight:400; padding:0px 10px; font-size:13.5px; line-height:40px; border-radius:0;}

.nav > li > ul.carousel-menu 		{display:none; z-index:777; list-style:none; padding:0 9.333%; margin:0 auto; border-radius:0; position:fixed; width:100%; background:#ffffff; text-align:left; height:300px; left:0; margin-top:30px; box-shadow:0px 10px 9px #444; animation: 0.3s ease-in 0s normal both 1 running fadeInDown;} 


.nav > li a:hover, .nav > li:hover a	{background-color:#ffffff;}
.nav > li:hover ul 						{display:block;}
.nav > li:hover  						{background:url(/images/nav-arrow.png) bottom center no-repeat;}
.nav-home .nav > li:hover  				{background:none;}


.nav > li > ul  li				{padding:30px 0 15px 0; line-height:18px; text-align:left; }
.nav li li a 					{font-size:16px; padding:0;}	

.nav > li > ul li    					{width:22%; float:left; clear:none; margin:0 4% 0 0;}	
.nav > li > ul li:nth-child(4n) 		{margin-right:0; float:right;}
.nav > li > ul li .post-thumbnail 		{width:100%; overflow:hidden; height:150px;}
.nav > li > ul li .post-thumbnail img 	{width:100%; height:auto;}





/* TOGGLES */
.navbar-toggle .icon-bar	{background-color:#999;}
.navbar-toggle				{border-radius:0; border:1px solid #555; margin-top:22px; margin-right:0;}

.dropdown-toggle {border-radius:0; text-transform:lowercase; color:#888; font-size:13px; overflow:hidden; padding:5px;}
.dropdown-menu input 	{background:none; color:#ccc; border:0; width:66%; padding:0; text-indent:10px; line-height:36px; font-weight:400; font-size:14px; border-radius:2px; border:0px; outline:0; box-shadow:none;}
.dropdown-menu button 	{background:#1e88c9;  color:#fff; border:0; padding:8px 15px; font-weight:600; font-size:14px; height:auto; border-radius:4px; border:0;float:right; margin-right:7px}

.dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover {border-radius:0; text-transform:lowercase; color:#fff; font-size:15px; background:#1e88c9; border:none;}

.btn-group.open .dropdown-toggle {box-shadow: none; background:#1e88c9; border-radius:4px;}
.dropdown-menu {background-color:#ffffff; border-radius:4px; text-transform:lowercase; width:300px; margin-left:-250px; margin-top:5px;}	
.dropdown-menu > li > a 	{color:rgba(77, 195, 225, 1); padding-right:15px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus 	{background:none; color:#fff; }

.navbar-toggle .icon-bar	{background-color:#999;}
.navbar-toggle				{border-radius:0; border:1px solid #555; margin-top:22px; margin-right:0;}

.caret 	{border:0; background:url(/images/caret.png) center top no-repeat; width:15px; height:8px;}



/* SEARCH */
#Navbar #Search, #Navbar .subscribe {margin-top:25px;}
.search-box button		{background:#1e88c9; color:#fff; border-radius:4px; padding:5px 10px; height:50px; min-width:50px; position:relative; z-index:999; margin-right:30px; text-align:center;}
.search-box img 	{margin:0 auto; clear:none;}
.search-box button:hover {border-radius:4px; }



/* ANIMATIONS */
@keyframes fadeIn { 
0% { opacity: 0;} 
100% { opacity: 1; } 
}
@keyframes fadeInDown { 
0% 		{opacity: 0; transform: translateY(-50px);} 
100% 	{opacity: 1; transform: translateY(0);} 
} 



/* VISUAL */
#Banner				{z-index:1; height:430px;}
.banner 			{
	height:430px;
	background:#1e88c9;
	background-size:cover !important;
	}


/* COLORS */
.blue, a.blue	{color:#1e88c9;}
.teal, a.teal	{color:#13999a;}
.green, a.green	{color:#0e5754;}
.red, a.red		{color:#b31b28;}
.black, .black a:link, .black a:visited	{color:#212121;}
.black a:hover	{color:#13999a;}

.white	{color:#ffffff;}
.black	{color:#212121;}


/* BACKGROUNDS */
a.bkg 			{color:#ffffff;}
.bkg a:link		{color:#ffffff;}
.bkg a:hover	{color:#ffffff; text-decoration:underline;}
.bkg a:active	{color:#eeeeee;}
.bkg a:visited	{color:#ffffff;}

.bkg-blue		{background:#1e88c9;}
.bkg-yellow		{background:#fbaf17;}
.bkg-green		{background:#71bd51;}
.bkg-grey		{background:#f8f8f8;}
.bkg-ltgrey		{background:#eaeaea;}
.bkg-charcoal  	{background-color:#323232;}
.bkg-medgrey 	{background-color:#d0cdcd;}
.bkg-dkgrey 	{background-color:#505050;}



/* CLASSES */
.fleft, .alignleft		{float:left; clear:none; margin-left:0;}
.fright, .alignright	{float:right; clear:none; margin-right:0;}

.alignright		{margin-left:30px;}
.alignleft		{margin-right:30px;}

.block		{display:block; width:100%; clear:both; padding:10px 0}

hr			{margin:30px 0; border:0; background:none; border-bottom:1px solid #ccc; display:block; clear:both;}
hr.thick	{border:0; border-top:3px solid #212121; display:block; margin:20px 0; clear:both;}


.shadow			{box-shadow:1px 1px 25px 0px #aaaaaa;}
.insetshadow	{box-shadow: inset 1px 1px 25px 0px #888;}
.caps			{text-transform:uppercase;}
.padding		{padding-bottom:20px; padding-top:10px;}
.nopadding		{padding:0;}
.nomargin		{margin:0;}
.margins		{margin:30px 0;}
.center 		{text-align:center;}



/* IMAGES */
.alignleft		{float:left; clear:none; margin-right:20px;}

.attachment-thumbnail	{border:6px solid #d1d1d1; margin:3px 15px 10px 0; float:left;}

.wp-caption			{border:1px solid #d0d0d0; background:#ebebeb; padding:0; float:right; margin-left:10px; max-width:600px;}
.wp-caption img		{border:8px solid #ebebeb; padding:0; margin:0; max-width:600px; height:auto !important;}
.wp-caption p		{padding:5px 10px; font-size:13px; line-height:18px;}


/* HEADER */
header 		{height:110px;}
.sidebar 	{padding-top:40px;}


/* TRENDING */
ul.trending  					{padding:0; margin:0;}
ul.trending > li  				{display:block; list-style:none; margin:0 auto; padding:0; height:210px; width:39.3%; float:right; clear:none; background-color:#222; background-size:120% auto; position: relative; overflow: hidden;}
ul.trending > li:first-child  {width:60%; height:430px; float:left; text-align:left;}

.trending > li h1  							{color:#fff; line-height:1.2; font-weight:400; font-size:24px; text-shadow:0px 0px 8px #333; margin-top:10px;}
.trending > li:first-child h1  				{color:#fff; line-height:1.35; font-weight:300; font-size:40px; margin-bottom:25px; padding-right:125px;}
.trending > li:first-child .post-category 	{font-size:18px; font-weight:300;}

.trending > li article 			{transition: all .3s ease-in-out; }
.trending > li:hover article 	{transform: scale(1.03); }

.trending > li a:link, .trending > li  a:visited, .trending > li a:hover  {color:#fff;}
.trending > li > article 				{padding:20px 22% 20px 45px; z-index:2; position:relative; height:210px;}
.trending > li:first-child > article 	{padding:50px 90px 40px 16.667%; height:430px;}
.trending > li:last-child 				{margin:10px 0 0 0;}

.trending li article {background-size:100% auto;}

.trending .avatar 					{padding:0px; background-color:#fff; border:2px solid #faae32; margin-bottom:10px; width:35px; height:35px;}
.trending > li:first-child .avatar 	{width:65px; height:65px; background-color:#fff; border:3px solid #faae32;}
.trending > li:first-child #Meta p 	{line-height:40px; float:left; text-align:left;}

.trending .post-category 	{margin:0; padding:0; color:#fff; font-size:14px;}
.trending .entry-title 		{clear:both;}
.trending .post-thumbnail 	{background-color:#333; opacity: 0.4;     transition: opacity .5s ease-out;-moz-transition: opacity .5s ease-out;-webkit-transition: opacity .5s ease-out;-o-transition: opacity .5s ease-out;}
.trending li:hover .post-thumbnail {background-color:#666; opacity: 0.7;}

.trending .post-thumbnail img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
   }



/* NAV TABS */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border:0 !important; outline:0;}
.nav-tabs 				{margin:0; border:0;}
.nav-tabs > li > a 		{border:0 !important;}
.nav-tabs > li.active 	{background-image:url(/images/notch.png); background-position:top center; background-repeat:no-repeat;}
.navbar 				{border-radius:0;}


.archive .nav-tabs > li.active 	{background-image:none !important;}
.nav-tabs > li.active > a 		{color:#505050;}


/* DROPDOWN MENU CAROUSEL */
.carousel-control.left {
    background-image: url(/images/arrow-l.png);
    background-repeat: no-repeat;
	background-position:50% 40%;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
	left:-5%;
    width: 5%;
}
.carousel-control.left:hover {
    background-image: url(/images/arrow-l-hover.png); background-repeat: no-repeat;
}
.carousel-control.right {
    background-image: url(/images/arrow-r.png);
    background-repeat: no-repeat;
	background-position:50% 40%;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
	right:-5%;
    width: 5%;}
.carousel-control.right:hover {
    background-image: url(/images/arrow-r-hover.png); background-repeat: no-repeat;
}



/* CATEGORIES */
ul.articles p.post-category 		{padding:10px 0 0 0; font-size:12px;}



/* META */
#Meta p {font-size:14px; color:#fff; line-height:25px;}
.avatar {border-radius:50%; margin-right:10px;}
li .avatar {width:30px; height:30px; border:2px solid #faae32;}
.sidebar .avatar {border:3px solid #faae32; margin-bottom:10px;}



/* AUTHOR */
#Author .row		{padding:40px 0px;}

.author-info		{display:table-cell; vertical-align:middle;}
.author-avatar 		{margin:0 30px 0 0;}
.author-avatar img 	{padding:4px; /*border:7px solid #faae32;*/ background-color:#fff;}

.author-name 		{padding-top:5px;}
.author-name p   	{color:#fff; font-size:12px; font-weight:300; text-transform:lowercase;}
.author-name h1 	{color:#fff; font-size:32px; font-weight:300 !important; padding-top:0; margin-top:0; line-height:1.2;}
.author-name p a 	{color:#1e88c9;}

.author-bio > * 	{vertical-align: middle; display:table-cell;}
.author-bio  		{vertical-align: middle; display:table; height:145px;}
.author-bio p 		{font-size:16px; font-weight:300; color:#ddd;}

#Author ul 			{list-style:none;}
#Author li 			{list-style:none; display:inline-block; float:left; clear:none; margin:0 2px;}
#Author li img 		{padding:2px; border:3px solid #faae32; background-color:#fff; width:50px; height:50px; border-radius:50%; margin-right:0; margin-top:15px;}
#Author h2 			{font-weight:300; margin-right:25px;}



/* ARTICLES GRID */
ul.articles 					{list-style:none; padding:20px 0px;}
ul.articles li					{width:33%; margin:0 0 50px 0; padding:0; float:left; display:inline-block; clear:none; height:525px;}
ul.articles li { transition: all .2s ease-in-out; }
ul.articles li:hover { transform: scale(1.05); }

ul.articles li .post-thumbnail 	{height:210px; background-color:#eee; clear:both; margin-top:5px; overflow:hidden;background-size: cover; margin-bottom:10px;}
ul.articles li article 			{padding:15px;}
ul.articles h2					{font-size:24px; line-height:1.2; margin:0 0 20px 0; color:#000; height:90px; overflow:hidden; text-overflow:ellipsis;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
ul.articles p 					{font-size:14px; line-height:1.3;}
ul.articles .post-thumbnail img	{min-width:110%; position:relative; top:0; left:-5%; min-height:100%; height:auto; z-index:1;}


.post-format  				{font-size:12px; margin:5px 0 10px 0;}
.post-meta 					{position:relative; bottom:0;}
.post-content				{height:275px;}
ul.articles .post-meta p 	{font-size:11px;}



/* SINGLE POST */
.single-post article .post-meta  p 		{font-size:14px; color:#555; padding:5px 0 5px 9.333%}
.single-post article .entry-title 		{font-size:44px; line-height:48px;}
.single-post article h1, .single-post article h2, .single-post article h3, .single-post article h4, .single-post article h5, .single-post article h6
{margin:40px 0 25px; color:#000; font-weight:400;}

.single-post article a:hover 		{text-decoration:underline;}
.single-post article p 				{color:#5f5f5f; margin-bottom:20px; font-size:18px; line-height:1.5;}


.TWITTER 				{box-shadow:1px 1px 6px #ccc; height:560px}
.TWITTER .post-content 	{height:480px;}


#Content .container 	{width:100%;}
#Content .container 	{padding:0 0px 50px 0px}
#Content .col-md-10  	{padding:0;}

ul.articles li			{width:33%;}


/* PROGRESS BAR */
#progress {
	position:fixed;
	height:7px;
	width:100%;
	background:#666;
	z-index: 1000000;
	top:0;	
}
#progressIndicator {
	height:7px;
	width:0;
	background:#f00;
}



/* RELATED POSTS */
#Related .container 		{background-color:#ebebeb;padding-bottom:20px;}
#Related h5 				{margin-top:30px; color:#000; font-size:20px; line-height:1.5; margin:50px 0 25px 0;}
.related h4 a, .related h5 a, .recent h4 a, .recent h5 a 	{color:#090909;}
.related ul, .recent ul 	{list-style:none; padding:0; margin:0;}
.related .avatar 			{height:40px; width:40px;}
.related li 				{margin-bottom:30px; display:table}

.related .post-thumbnail 		{margin-right:15px; height:210px; background-color:#fff; overflow:hidden; padding:0;}
.related .post-thumbnail img 	{width:110%; height:auto;}
.related .excerpt {}
.related h4 					{font-size:28px; margin:5px 0; line-height:1.3; padding:0;}

#Related .post-meta p 		{font-size:11px; color:#5f5f5f; line-height:14px;}
#Related .recent li 		{padding-bottom:20px;}
#Related .recent li h4 		{font-size:18px; margin-top:0px; padding-top:5px; line-height:1.4;}
#Related .post-category 	{font-size:12px; margin:0;}

.sidebar .related 			{text-align:left; margin-top:120px; clear:none; overflow:hidden;}
.sidebar .related p 		{font-size:14px;}
.sidebar .related li 		{background:#ebebeb; padding:0;}
.sidebar .related li h4 	{font-size:24px; clear:none;}
.sidebar .related .entry 	{padding:10px 20px 30px 20px;}
.sidebar .related .post-thumbnail {margin-right:0; height:200px;}
.sidebar .related em 		{color:#aaa; font-weight:300;}


/* FOOTER - YOU CAN STRIP THIS OUT */
footer 			{padding:25px 0 100px 0;}  


/* SOCIAL */
.social a 			{display:block; width:100%; clear:both;}
.social img 		{opacity:0.8;}
.social img:hover 	{opacity:1;}
.single-post article p.continue {color:#1e88c9; font-size:21px; line-height:25px;}
.continue img 		{margin-top:-2px;}


/* SUBSCRIBE */
.subscribe 			{border:1px solid #1e88c9; border-radius:4px; background:#fff; padding:0; overflow:hidden;}
.subscribe input 	{border:0; padding:0 10px; color:#1e88c9; max-width:75%; font-style:italic; line-height:50px; margin-left:10px;}
.subscribe button 	{float:right; color:#fff; padding:0px 15px; border:0; font-weight:600; line-height:50px; font-size:14px;}



/* BAND */
.band 				{width:100%; margin:0;}
#Content .band 		{margin:50px 0;}
.single article p, .single article h1, .single article h2, .single article h3, .single article h4, .single article h5 {width:60%; padding-left:9.333%;}

.band h6 					{color:#fff !important; font-size:28px; margin:0 !important; padding:15px 0; line-height:100px;}
.band .subscribe 			{margin:40px 0;}
.band .container 			{padding:0 !important;}
.band .subscribe button 	{text-transform:uppercase; font-size:18px; font-weight:400;}
.bkg-green .subscribe 		{border-color:#fff; overflow:hidden;}



/* CALLOUTS / BANDS / BLOCKQUOTES */
.callout 					{padding:30px 40px; margin:50px 15px 50px 9.333%;}
#Content .band .callout 	{padding:20px 0; margin:0;}
.callout img 				{margin-right:30px;}
.callout button 			{border-radius:4px;  padding:15px 40px; color:#fff; font-size:16px; margin-top:15px; border:0;}
.single article .callout p, .single article .callout h1, .single article .callout h2, .single article .callout h3, .single article .callout h4, .single article .callout h5 {margin:10px 0; padding:0; width:auto; clear:none;}

.single article .callout h4 		{padding:0px; margin:0 0 20px 0; font-size:28px;}
.single article .band .callout h4 	{padding:0px; margin:10px 0 20px 0; font-size:36px;}
.band em {font-size:12px;}

blockquote {
    border:0;
	font-style:italic;
    font-size: 24px;
    margin: 0 0 20px;
    padding: 10px 0px;
	color:#1f89ca;
}
.single article blockquote p {font-style:italic; font-size: 24px; color:#1f89ca !important; padding:10px 40px 10px 9.333%; border-right: 5px solid #1f89ca; width:58%;}





#Subscribe label				{display:none;}
#Subscribe .frm_submit input	{font-size:10px; padding:3px 8px; font-weight:bold; letter-spacing:0.5px;}
#Subscribe .frm_submit			{}




/* SCROLL THEN FIXED ELEMENTS */
.social-media {
  position: absolute;
  top: 700px;
  left: 20px;
  right: 20px;
}
.social {
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -webkit-appearance: none;
}
.social-media.top {
  position: fixed;
  top: 125px;
}
.fix-social .social-media .social {
}
.navbar.top {
    position: fixed;
    top: 0;
	width:100%;
}
/* I WASN'T GIVEN MUCH DIRECTION FOR THE RESPONSIVE DESIGN, SO I'LL LEAVE THAT TO YOU, SO YOU CAN HANDLE THINGS CONSISTENT WITH THE REST OF THE SITE */

@media (min-width: 768px) and (max-width: 979px) {} 
@media (min-width: 768px) and (max-width: 1070px) {}
@media (min-width: 768px) and (max-width: 990px) {}
@media (min-width: 268px) and (max-width: 990px) {}
@media (min-width: 481px) and (max-width: 979px) {}
@media (min-width: 481px) and (max-width: 767px) {}
@media (min-width: 980px) and (max-width: 1599px) {
	ul.articles li	{width:33%;}
}
@media (max-width: 567px) {}
@media (max-width: 480px) {}
@media (min-width: 1600px) {
	ul.articles li	{width:25%;}
}


