body,p,li,td {
color:#565656;
font-family:"Open Sans";
font-size:15px;
}

.row {
padding-left:0;
padding-right:0;
margin:0 auto;
}

.container {
width:100%;
min-width:1170px;
padding:0;
}

.footer-social-media.col-sm-5 > ul {
text-align:right;
margin-right:37px;
}

h1,h2,h3,h4,h5,h6 {
color:#565656;
font-weight:300;
line-height:1.35;
}

h1 {
font-size:32px;
}

h2 {
font-size:28px;
font-weight:400;
margin-bottom:25px;
}

h3 {
font-size:24px;
font-weight:400;
margin-bottom:10px;
margin-top:40px;
}

h4 {
padding-top:15px;
font-size:24px;
}

h5 {
font-size:21px;
margin:15px 0;
}

h6 {
color:#fff;
font-size:14px;
padding:10px;
}

p {
font-size:18px;
}

a:hover {
color:#1e88c9;
text-decoration:none;
}

a:focus {
outline:none;
}

#Navbar .container {
overflow:visible;
}

#Navbar .row,#Navbar {
background:#eaeaea;
font-size:13px;
position:relative;
z-index:9999;
height:105px;
margin:0;
}

.navbar {
background:#eaeaea;
margin-bottom:0;
font-size:13px;
height:105px;
-moz-border-radius:0;
-o-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
}

.navbar-collapse {
float:left;
}

.navbar li {
margin-right:10px;
padding:30px 0;
}

.navbar li a {
color:#4a4a4a;
font-family:"Open Sans";
font-weight:400;
font-size:13.5px;
line-height:40px;
-moz-border-radius:0;
-o-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
padding:0 10px;
}

.nav > li > ul.carousel-menu {
display:none;
z-index:777;
list-style:none;
-moz-border-radius:0;
-o-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
position:fixed;
width:100%;
background:#fff;
text-align:left;
height:300px;
left:0;
box-shadow:0 10px 9px #444;
animation:.3s ease-in 0 normal both 1 running fadeInDown;
margin:30px auto 0;
padding:0 9.333%;
}

.nav > li:hover ul {
display:block;
}

.nav > li:hover {
background:url(../../assets/images/nav-arrow.png) bottom center no-repeat;
}

.nav-home .nav > li:hover {
background:none;
}

.nav > li > ul li {
line-height:18px;
text-align:left;
width:22%;
float:left;
clear:none;
margin:0 4% 0 0;
padding:30px 0 15px;
}

.nav li li a {
font-size:16px;
padding:0;
}

.nav > li > ul li:nth-child(4n) {
margin-right:0;
float:right;
}

.nav > li > ul li .post-thumbnail {
width:100%;
overflow:hidden;
height:150px;
}

.nav > li > ul li .post-thumbnail img {
width:100%;
height:auto;
}

.navbar-toggle .icon-bar {
background-color:#999;
}

.navbar-toggle {
-moz-border-radius:0;
-o-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
border:1px solid #555;
margin-top:22px;
margin-right:0;
}

.dropdown-toggle {
-moz-border-radius:0;
-o-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
text-transform:lowercase;
color:#888;
font-size:13px;
overflow:hidden;
padding:5px;
}

.dropdown-menu input,.dropdown-menu #s {
background:none;
color:#ccc;
width:66%;
text-indent:10px;
line-height:36px;
font-weight:400;
font-size:14px;
-moz-border-radius:2px;
-o-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
border:0;
outline:0;
box-shadow:none;
padding:0;
}

.dropdown-menu button {
background:#1e88c9;
color:#fff;
font-weight:600;
font-size:14px;
height:auto!important;
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
border:0;
float:right;
margin-right:7px!important;
padding:8px 15px!important;
}

.dropdown-toggle,.dropdown-toggle:active,.dropdown-toggle:focus,.dropdown-toggle:hover {
-moz-border-radius:0;
-o-border-radius:0;
-webkit-border-radius:0;
border-radius:0;
text-transform:lowercase;
color:#fff;
font-size:15px;
background:#1e88c9;
border:none;
}

.btn-group.open .dropdown-toggle {
box-shadow:none;
background:#1e88c9;
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.dropdown-menu {
background-color:#fff;
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
text-transform:lowercase;
width:300px;
margin-left:-250px;
margin-top:5px;
}

.dropdown-menu > li > a {
color:rgba(77,195,225,1);
padding-right:15px;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
background:none;
color:#fff;
}

.caret {
border:0;
background:url(../../assets/images/caret.png) center top no-repeat;
width:15px;
height:8px;
}

.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default.focus:active,.btn-default:active:focus,.btn-default:active:hover,.open > .dropdown-toggle.btn-default.focus,.open > .dropdown-toggle.btn-default:focus,.open > .dropdown-toggle.btn-default:hover {
background:#1e88c9;
border:none;
color:#fff;
}

#Navbar #Search,#Navbar .subscribe {
margin-top:25px;
}

.search-box button {
background:#1e88c9;
color:#fff;
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
height:50px;
min-width:50px;
position:relative;
z-index:999;
margin-right:30px;
text-align:center;
padding:5px 10px;
}

.search-box img {
clear:none;
margin:0 auto;
}

.search-box button:hover {
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

/* ANIMATIONS */
@keyframes fadeIn { 
0% { opacity: 0;} 
100% { opacity: 1; } 
}
@keyframes fadeInDown { 
0% 		{opacity: 0; transform: translateY(-50px);} 
100% 	{opacity: 1; transform: translateY(0);} 
}

#Banner {
z-index:1;
height:430px;
}

.banner {
height:430px;
background:#1e88c9;
background-size:cover!important;
}

.green,a.green {
color:#0e5754;
}

.red,a.red {
color:#b31b28;
}

.bkg a:hover {
color:#fff;
text-decoration:underline;
}

.bkg a:active {
color:#eee;
}

.bkg-blue {
background:#1e88c9;
}

.bkg-yellow {
background:#fbaf17;
}

.bkg-green {
background:#71bd51;
}

.bkg-grey {
background:#f8f8f8;
}

.bkg-ltgrey {
background:#eaeaea;
}

.bkg-charcoal {
background-color:#323232;
}

.bkg-medgrey {
background-color:#d0cdcd;
}

.bkg-dkgrey {
background-color:#505050;
}

.fleft,.alignleft {
float:left;
clear:none;
margin-left:0;
}

.fright,.alignright {
float:right;
clear:none;
margin-right:0;
}

.alignright {
margin-left:30px;
}

.alignleft {
float:left;
clear:none;
margin-right:20px;
}

.block {
display:block;
width:100%;
clear:both;
padding:10px 0;
}

hr {
border:0;
background:none;
border-bottom:1px solid #ccc;
display:block;
clear:both;
margin:30px 0;
}

hr.thick {
border:0;
border-top:3px solid #212121;
display:block;
clear:both;
margin:20px 0;
}

.shadow {
box-shadow:1px 1px 25px 0 #aaa;
}

.insetshadow {
box-shadow:inset 1px 1px 25px 0 #888;
}

.caps {
text-transform:uppercase;
}

.padding {
padding-bottom:20px;
padding-top:10px;
}

.nomargin {
margin:0;
}

.margins {
margin:30px 0;
}

.center {
text-align:center;
}

.attachment-thumbnail {
border:6px solid #d1d1d1;
float:left;
margin:3px 15px 10px 0;
}

.wp-caption {
border:1px solid #d0d0d0;
background:#ebebeb;
float:right;
margin-left:10px;
max-width:600px;
padding:0;
}

.wp-caption img {
border:8px solid #ebebeb;
max-width:600px;
height:auto!important;
margin:0;
padding:0;
}

.wp-caption p {
font-size:13px;
line-height:18px;
padding:5px 10px;
}

header {
height:110px;
}

.sidebar {
padding-top:40px;
}

ul.trending {
margin:0;
padding:0;
}

ul.trending > li {
display:block;
list-style:none;
height:210px;
width:39.3%;
float:right;
clear:none;
background-color:#222;
background-size:120% auto;
position:relative;
overflow:hidden;
margin:0 auto;
padding:0;
}

ul.trending > li:first-child {
width:60%;
height:430px;
float:left;
text-align:left;
}

.trending > li h1 {
color:#fff;
line-height:1.2;
font-weight:400;
font-size:24px;
text-shadow:0 0 8px #333;
margin-top:10px;
}

.trending > li:first-child h1 {
color:#fff;
line-height:1.35;
font-weight:300;
font-size:40px;
margin-bottom:25px;
padding-right:125px;
}

.trending > li:first-child .post-category {
font-size:18px;
font-weight:300;
}

.trending > li article {
transition:all .3s ease-in-out;
}

.trending > li:hover article {
transform:scale(1.03);
}

.trending > li > article {
z-index:2;
position:relative;
height:210px;
padding:20px 22% 20px 45px;
}

.trending > li:first-child > article {
height:430px;
padding:50px 90px 40px 16.667%;
}

.trending > li:last-child {
margin:10px 0 0;
}

.trending li article {
background-size:100% auto;
}

.trending .avatar {
background-color:#fff;
border:2px solid #faae32;
margin-bottom:10px;
width:35px;
height:35px;
padding:0;
}

.trending > li:first-child .avatar {
width:65px;
height:65px;
background-color:#fff;
border:3px solid #faae32;
}

.trending > li:first-child #Meta p {
line-height:40px;
float:left;
text-align:left;
}

.trending .post-category {
color:#fff;
font-size:14px;
margin:0;
padding:0;
}

.trending .entry-title {
clear:both;
}

.trending .post-thumbnail {
background-color:#333;
opacity:0.4;
transition:opacity .5s ease-out;
-moz-transition:opacity .5s ease-out;
-webkit-transition:opacity .5s ease-out;
-o-transition:opacity .5s ease-out;
}

.trending li:hover .post-thumbnail {
background-color:#666;
opacity:0.7;
}

.trending .post-thumbnail img {
position:absolute;
left:0;
top:0;
width:100%;
height:auto;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
border:0!important;
outline:0;
}

.nav-tabs {
border:0;
margin:0;
}

.nav-tabs > li > a {
border:0!important;
}

.nav-tabs > li.active {
background-image:url(../../assets/images/notch.png);
background-position:top center;
background-repeat:no-repeat;
}

.archive .nav-tabs > li.active {
background-image:none!important;
}

.nav-tabs > li.active > a {
color:#505050;
}

.carousel-control.left {
background-image:url(../../assets/images/arrow-l.png);
background-repeat:no-repeat;
background-position:50% 40%;
opacity:1;
position:absolute;
text-align:center;
text-shadow:0 1px 2px rgba(0,0,0,0.6);
top:0;
left:-5%;
width:5%;
}

.carousel-control.left:hover {
background-image:url(../../assets/images/arrow-l-hover.png);
background-repeat:no-repeat;
}

.carousel-control.right {
background-image:url(../../assets/images/arrow-r.png);
background-repeat:no-repeat;
background-position:50% 40%;
opacity:1;
position:absolute;
text-align:center;
text-shadow:0 1px 2px rgba(0,0,0,0.6);
top:0;
right:-5%;
width:5%;
}

.carousel-control.right:hover {
background-image:url(../../assets/images/arrow-r-hover.png);
background-repeat:no-repeat;
}

ul.articles p.post-category {
font-size:12px;
padding:10px 0 0;
}

#Meta p {
font-size:14px;
color:#fff;
line-height:25px;
}

.avatar {
-moz-border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
margin-right:10px;
}

li .avatar {
width:30px;
height:30px;
border:2px solid #faae32;
}

.sidebar .avatar {
border:3px solid #faae32;
margin-bottom:10px;
}

#Author .row {
padding:40px 0;
}

.author-info {
display:table-cell;
vertical-align:middle;
}

.author-avatar {
margin:0 30px 0 0;
}

.author-avatar img {
background-color:#fff;
padding:4px;
}

.author-name {
padding-top:5px;
}

.author-name p {
color:#fff;
font-size:12px;
font-weight:300;
text-transform:lowercase;
}

.author-name h1 {
color:#fff;
font-size:32px;
font-weight:300!important;
padding-top:0;
margin-top:0;
line-height:1.2;
}

.author-bio > * {
vertical-align:middle;
display:table-cell;
}

.author-bio {
vertical-align:middle;
display:table;
height:145px;
}

.author-bio p {
font-size:16px;
font-weight:300;
color:#ddd;
}

#Author ul {
list-style:none;
}

#Author li {
list-style:none;
display:inline-block;
float:left;
clear:none;
margin:0 2px;
}

#Author li img {
border:3px solid #faae32;
background-color:#fff;
width:50px;
height:50px;
-moz-border-radius:50%;
-o-border-radius:50%;
-webkit-border-radius:50%;
border-radius:50%;
margin-right:0;
margin-top:15px;
padding:2px;
}

#Author h2 {
font-weight:300;
margin-right:25px;
}

ul.articles {
list-style:none;
padding:20px 0;
}

ul.articles li,.tab-content ul.articles li {
width:33%;
float:left;
display:inline-block;
clear:none;
height:525px;
margin:0 0 50px;
padding:0;
}

ul.articles li {
transition:all .2s ease-in-out;
width:33%;
}

ul.articles li:hover {
transform:scale(1.05);
}

ul.articles li .post-thumbnail {
height:210px;
background-color:#eee;
clear:both;
margin-top:5px;
overflow:hidden;
background-size:cover;
margin-bottom:10px;
}

ul.articles li article {
padding:15px;
}

ul.articles h2,#wrapper ul.articles .post-content h2 {
font-size:24px;
line-height:1.2;
color:#000;
height:90px;
overflow:hidden;
text-overflow:ellipsis;
display:0;
max-width:400px;
-webkit-line-clamp:3;
-webkit-box-orient:vertical;
margin:0 0 20px;
}

ul.articles p {
font-size:14px;
line-height:1.3;
}

ul.articles .post-thumbnail img {
min-width:110%;
position:relative;
top:0;
left:-5%;
min-height:100%;
height:auto;
z-index:1;
}

.post-format {
font-size:12px;
margin:5px 0 10px;
}

.post-meta {
position:relative;
bottom:0;
}

.post-content {
height:275px;
}

ul.articles .post-meta p {
font-size:11px;
}

.single-post article .post-meta p {
font-size:14px;
color:#555;
padding:5px 0 5px 9.333%;
}

.single-post article .entry-title {
font-size:44px;
line-height:48px;
}

.single-post article h1,.single-post article h2,.single-post article h3,.single-post article h4,.single-post article h5,.single-post article h6 {
color:#000;
font-weight:400;
margin:40px 0 25px;
}

.single-post article a:hover {
text-decoration:underline;
}

.single-post article p {
color:#5f5f5f;
margin-bottom:20px;
font-size:18px;
line-height:1.5;
}

.TWITTER {
box-shadow:1px 1px 6px #ccc;
height:560px;
}

.TWITTER .post-content {
height:480px;
}

#Content .container {
width:100%;
padding:0 0 50px;
}

#progress {
position:fixed;
height:7px;
width:100%;
background:#666;
z-index:1000000;
top:0;
}

#progressIndicator {
height:7px;
width:0;
background:red;
}

#Related .container {
background-color:#ebebeb;
padding-bottom:20px;
}

#Related h5 {
color:#000;
font-size:20px;
line-height:1.5;
margin:50px 0 25px;
}

.related h4 a,.related h5 a,.recent h4 a,.recent h5 a {
color:#090909;
}

.related ul,.recent ul {
list-style:none;
margin:0;
padding:0;
}

.related .avatar {
height:40px;
width:40px;
}

.related li {
margin-bottom:30px;
display:table;
}

.related .post-thumbnail {
margin-right:15px;
height:210px;
background-color:#fff;
overflow:hidden;
padding:0;
}

.related .post-thumbnail img {
width:110%;
height:auto;
}

.related h4 {
font-size:28px;
line-height:1.3;
margin:5px 0;
padding:0;
}

#Related .post-meta p {
font-size:11px;
color:#5f5f5f;
line-height:14px;
}

#Related .recent li {
padding-bottom:20px;
}

#Related .recent li h4 {
font-size:18px;
margin-top:0;
padding-top:5px;
line-height:1.4;
}

#Related .post-category {
font-size:12px;
margin:0;
}

.sidebar .related {
text-align:left;
margin-top:120px;
clear:none;
overflow:hidden;
}

.sidebar .related p {
font-size:14px;
}

.sidebar .related li {
background:#ebebeb;
padding:0;
}

.sidebar .related li h4 {
font-size:24px;
clear:none;
}

.sidebar .related .entry {
padding:10px 20px 30px;
}

.sidebar .related .post-thumbnail {
margin-right:0;
height:200px;
}

.sidebar .related em {
color:#aaa;
font-weight:300;
}

footer {
padding:25px 0 100px;
}

.social a {
display:block;
width:100%;
clear:both;
}

.social img {
opacity:0.8;
}

.social img:hover {
opacity:1;
}

.single-post article p.continue {
color:#1e88c9;
font-size:21px;
line-height:25px;
}

.continue img {
margin-top:-2px;
}

.subscribe {
border:1px solid #1e88c9;
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
background:#fff;
overflow:hidden;
padding:0;
}

.subscribe input {
border:0;
color:#1e88c9;
max-width:75%;
font-style:italic;
line-height:50px;
margin-left:10px;
padding:0 10px;
}

.subscribe button {
float:right;
color:#fff;
border:0;
font-weight:600;
line-height:50px;
font-size:14px;
padding:0 15px;
}

.band {
width:100%;
margin:0;
}

#Content .band {
margin:50px 0;
}

.single article p,.single article h1,.single article h2,.single article h3,.single article h4,.single article h5 {
width:60%;
padding-left:9.333%;
}

.band h6 {
color:#fff!important;
font-size:28px;
line-height:100px;
margin:0!important;
padding:15px 0;
}

.band .subscribe {
margin:40px 0;
}

.band .container {
padding:0!important;
}

.band .subscribe button {
text-transform:uppercase;
font-size:18px;
font-weight:400;
}

.bkg-green .subscribe {
overflow:hidden;
border-color:#fff;
}

.callout {
margin:50px 15px 50px 9.333%;
padding:30px 40px;
}

#Content .band .callout {
margin:0;
padding:20px 0;
}

.callout img {
margin-right:30px;
}

.callout button {
-moz-border-radius:4px;
-o-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
color:#fff;
font-size:16px;
margin-top:15px;
border:0;
padding:15px 40px;
}

.single article .callout p,.single article .callout h1,.single article .callout h2,.single article .callout h3,.single article .callout h4,.single article .callout h5 {
width:auto;
clear:none;
margin:10px 0;
padding:0;
}

.single article .callout h4 {
font-size:28px;
margin:0 0 20px;
padding:0;
}

.single article .band .callout h4 {
font-size:36px;
margin:10px 0 20px;
padding:0;
}

.band em {
font-size:12px;
}

blockquote {
border:0;
font-style:italic;
font-size:24px;
color:#1f89ca;
margin:0 0 20px;
padding:10px 0;
}

.single article blockquote p {
font-style:italic;
font-size:24px;
color:#1f89ca!important;
border-right:5px solid #1f89ca;
width:58%;
padding:10px 40px 10px 9.333%;
}

#Subscribe label {
display:none;
}

#Subscribe .frm_submit input {
font-size:10px;
font-weight:700;
letter-spacing:.5px;
padding:3px 8px;
}

.social-media {
position:absolute;
top:700px;
left:20px;
right:20px;
}

.social {
-webkit-transition:width .2s;
transition:width .2s;
-webkit-appearance:none;
}

.social-media.top {
position:fixed;
top:125px;
}

.navbar.top {
position:fixed;
top:0;
width:100%;
}

body,.nav > li a:hover,.nav > li:hover a {
background-color:#fff;
}

a:link,a:visited,a.active,.blue,a.blue,.author-name p a {
color:#1e88c9;
}

.navbar-nav,.nopadding,#Content .col-md-10 {
padding:0;
}

.teal,a.teal,.black a:hover {
color:#13999a;
}

.black,.black a:link,.black a:visited,.black {
color:#212121;
}

.white,a.bkg,.bkg a:link,.bkg a:visited,.trending > li a:link,.trending > li a:visited,.trending > li a:hover {
color:#fff;
}

@media (min-width: 980px) and (max-width: 1599px) {
ul.articles li	{width:33%;}
}

@media (min-width: 1600px) {
ul.articles li	{width:25%;}
}
@media (max-width: 1024px){
.container {
min-width: initial;
}
ul.trending > li:first-child {

}
.trending > li:first-child > article {
height: auto;
padding: 20px 10px;
}
.trending > li:first-child .post-category {
    font-size: 14px;
    font-weight: 300;
}
.trending > li:first-child h1 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 0;
}
.trending > li:first-child .avatar {  
  height: 35px;
  width: 35px;
}




.trending > li > article {
height: auto;
padding: 20px 10px;  
}
.trending > li h1 {  
  font-size: 18px;
}
#Banner {
    height: auto;
}
ul.articles li, .tab-content ul.articles li{
        height: auto;
        min-height: 535px;
    }
    ul.articles li:nth-child(3n+1), .tab-content ul.articles li:nth-child(3n+1) {
        clear: left;
    }
    ul.articles h2, #wrapper ul.articles .post-content h2 {
        font-size: 22px;
        height: auto;
        min-height: 105px;
    }
    .post-content {
        height: auto;
    }
}
@media (max-width: 767px) {
.container {
min-width: initial;
}
ul.trending > li:first-child {
float: none;
height: auto;
width: 100%;
}
.trending > li:first-child > article {
height: auto;
padding: 20px 10px;
}
.trending > li:first-child .post-category {
    font-size: 14px;
    font-weight: 300;
}
.trending > li:first-child h1 {
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 0;
}
.trending > li:first-child .avatar {  
  height: 35px;
  width: 35px;
}
ul.trending > li {
float: none;
height: auto;
width: 100%;
margin-bottom: 10px;
}
.trending > li > article {
height: auto;
padding: 20px 10px;  
}
.trending > li h1 {  
  font-size: 18px;
}
#Banner {
    height: auto;
}
ul.articles li, .tab-content ul.articles li{
        width: 100%;
    }       
}
@media (max-width: 479px) {
    
}