/* ============================================================
  Posts PAGINATION
============================================================ */
.custom-pagination {
  clear: both;
  display: block;
  margin: 30px auto 0;
  text-align: center;
  width: 50%;
}
.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 2px 10px;
}
.custom-pagination a {
  background-color: #ebebeb;
  color: #626262;
}
.custom-pagination a:hover {
  background-color: #626262;
  color: #fff;
}
.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}
.custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}
.custom-pagination span.current {
  background-color: #626262;
  color: #fff;
}
@media (max-width: 767px) {
.custom-pagination {
        width: 100%;
    }
    .custom-pagination span.page-numbers.page-num {
        display: none;
    }
}
